.Phonetic{
    line-height: 50px;
}

.Phonetic a{
    border: solid #E3BEC6;
    border-radius: 20px;
    background-color: #E3BEC6;
    color: #FFFFFF;
    font-family: 'Merriweather Sans', sans-serif;
    padding: 10px;
    text-decoration: none;
    transition: all ease-in-out 5ms;
}

.Phonetic a:hover{
    background-color: #FFFFFF;
    color:#E3BEC6;
}

.phoneticText{
    display: inline-block;
    margin-left: 15px;
}